{%  extends "challengeLBundle::layout.html.twig" %}
{% block index %}
    <div class="col-lg-12 text-center">

        <b>
            <br><br>
            <h1><font color="gold">
                    Foire aux questions :</font></h1><br><br><br><br>
            <h3>
                <u>-J'ai payé, mais je n'ai toujours pas reçu mon lobby </u><br><br>
                Patience, les produits sont distribués manuellement dans un délais inférieur à 24 heures !
                <br>
                <hr class="featurette-divider"><br><br>
                <u>-Comment savoir si les paiements sont sécurisés ? </u><br><br>
                Tous les paiements sont effectués en dehors de notre site internet, par paypal ou youpass, qui nous servent simplement d'intermédiaires,
                nous n'avons donc accès à aucunes de vos coordonnées personnelles, exepté vos identifiants PSN.
                <br>
                <hr class="featurette-divider"><br><br>
                <u>-Pour tous autres problèmes ne figurant pas ici, n'hésitez pas a contacter le <a href="contact.php">support</a></u>


            </h3>
        </b>



    </div>
{% endblock %}