{%  extends "challengeLBundle::layout.html.twig" %}
{% block index %}
    <div class="col-lg-12 text-center">
        <h1 class="featurette-heading">
            Bienvenue sur cod-lobby.fr !
        </h1>

        <h3>- cod-lobby.fr est le seul site en ligne fiable où vous pourrez acheter des <br>extentions de jeux  à prix accessible !</h3>
        <br>
        <h1>Pourquoi choisir cod-lobby.fr ?</h1>
        <h3 class="featurette-heading">
            - cod-lobby.fr vous propose de multiples moyens de paiement !<br>
            - cod-lobby.fr distribue manuellement les lobby dans un délai inférieur à 24 heures !<br>
            - cod-lobby.fr ne vous demandera jamais de communiquer d'informations confidentielles !
        </h3>

        C'est simple et rapide, n'attendez plus ! <a class="btn btn-lg btn-success" href="{{ path('challenge_l_achat') }}" role="button">Passer commande »</a>

        <br><br><br><br>
        <img src="http://gaming-gop-team.e-monsite.com/medias/images/maxresdefault-2.jpg" width="640" height="360"></div>
{% endblock %}