{%  extends "challengeLBundle::layout.html.twig" %}
{% block index %}
    <div class="col-lg-12 text-center">

        <B>
            <BR><BR>
            <h3>
                Pour proc&eacuteder au paiement par virement bancaire, vous devez prendre contact avec notre support.
                <BR><BR>
                <p><a class="btn btn-default" href="contact.php" role="button">Par ici &raquo;</a></p>
                <BR><BR><BR>
                Cette m&eacutethode peut prendre du temps, pour r&eacutealiser la transaction le plus rapidement possible, merci de pr&eacuteciser
                dans votre message au support le nom du produit que vous avez s&eacutelectionner, et vos identifiants PSN, sans oublier de
                rappeler que vous voulez proc&eacuteder au paiement par virement bancaire.

            </h3>
            </B>


    </div>
{% endblock %}