{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-group">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>