<li><a href="{{ path('fos_user_security_logout') }}" class="btn   btn-danger navbar-btn" >Deconnexion</a></li>
<li>
    <div class="btn-group">
        <a href="#test" class="btn btn-warning ">Mon compte</a>
        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Mon compte</li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Paramètres</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-screenshot"></span> Mes derniers lobby</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> Mes messages</a></li>

        </ul>
    </div>
</li>