{% extends "::layout.html.twig" %}
{% block header %}
    <div id="header" class="jumbotron">
        <h1 class="text-center">Challenge Lobby</h1>


    </div>
{% endblock %}
{% block body %}
    {% block index %}
    {% endblock %}
{% endblock %}
