{% extends "FOSUserBundle::layout.html.twig" %}
{% block header %}
    <div id="headerm" class="jumbotron">
        <h1 class="control-label">Mon compte</h1>
    </div>

{% endblock %}
{% block fos_user_content %}
    <div class="row">
{% include "challengeUserBundle:Profile:panel.html.twig" %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
